body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color:azure;
}

#board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 2px solid rgb(181, 181, 84);
    cursor: pointer;
    background-color: darkslategray;
}